/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:wght@400;500;600;700;800;900&display=swap');

/*********************** GLOBAL  ****************************/
html {
    max-width: 162.5rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: white;
}

/* Headings */
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem; 
}

/* Paragraphs */
p {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Links */
a {
    text-decoration: none;
}

/* Buttons */
button {
    width: 13rem ;
    height: 3rem;
    border-radius: 1.5rem/1.5rem;
    color: white;
    background-color: #FF8205;
    font: 700 1.5rem Raleway, sans-serif;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 0.25rem solid black;
}

button:hover, .button-style:hover {
    color: white;
    background-color: #01441b;
    border: 0.25rem solid white;
}

.button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem ;
    height: 3rem;
    border-radius: 1.5rem/1.5rem;
    color: white;
    background-color: #FF8205;
    font: 700 1.5rem Raleway, sans-serif;
}

button:disabled, button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

/************************* GAME PAGE ***********************/
.game-page-wrapper, .page-wrapper{
    max-width: 162.5rem;    /*size of background image*/
    height: 100vh;  /*ensures full vertical coverage on zoom out */
    background:url(../images/background.webp) no-repeat center top;
    background-size: cover;
    background-color: #01441b; /*added in case image fails to load*/
}

/*************************** HEADER *************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 0.5rem;   
}

.logo-image img {
    width: 2.95rem;
    height: 3rem;
}

.logo-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

.logo-content h1:hover {
    color: #CACBD8;
}

/* Header content - game rules and speaker icon */
.header-content {
    display: flex;
    align-items: center;
}

/* Game rules pop up */
#game-rules {
    margin-right: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

#game-rules {
    margin-left: 2rem;
}

#game-rules:hover {
    color: #CACBD8;
}

#speaker-icon:hover {
    color: #CACBD8;
}

/*********************** GAME CONTAINER *********************/
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****************** DEALER & PLAYER SECTIONS ****************/

.dealer-container, .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.dealer-info, .player-info{
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

/* cards icon in dealer info section */
.cards-image img {
    width: 1.97rem;
    height: 2rem;
    margin-right: 0.25rem;
}

/* holds dealer & players current value */
.hand-value {
    font-size: 2.5rem;
    font-family: sans-serif;
}

#dealers-cards img, #players-cards img {
    margin-right: 0.25rem;
    border: solid black 0.25rem;
    border-radius: 0.5rem/0.5rem;
}

/******************* GAME CONTROLS SECTION *****************/
.game-controls-container {
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-controls-container button {
    width: 10rem ;
    height: 5rem;
    border-radius: 1.5rem/1.5rem;
}

/********************** BETTING SECTION ********************/
.betting-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-chip-count  {
    margin: 1rem 0 1rem 0;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.3rem;
}

#chip-count {
    font-family: sans-serif;
}

.betting-input {
    display: flex;
    margin-bottom: 1rem;
}

.betting-input p {
    margin-right: 1rem;
}
.betting-input input {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

/********************** PLAY AGAIN BUTTON *******************/
/* Play again button - hidden by default */
#play-again-button {
    height: 8rem;
    width:20rem;
    font-size: 2rem;
    display: none;
}

/************************* 404 PAGE ***********************/
.four-zero-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.four-zero-four  h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

.four-zero-four h3 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.four-zero-four strong{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

/************************** MODAL ************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1; /*Sit on top*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*scroll if needed*/
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-content {
    background-color: #01441b;
    color: white;
    padding: 1.5rem;
    border: 0.25rem;
    min-width: 30%;
    max-width: 90%;
    text-align: center;
    overflow: auto;
}

/*message added when we modify the inner HTML or text content of modal message in JS*/
#modal-message {  
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#modal-message div {
    text-align: left;
}

#modal-message h2 {  
    text-align: center;
    font-size: 1.4rem;
    text-decoration: underline;
}

.close {
    color: white;
    float: right;
    font-size: 3rem;
}

.close:hover, .close:focus {
    color: #CACBD8;
    text-decoration: none;
    cursor: pointer;
}

/********************* MEDIA QUERIES - WIDTH *******************/   
/* 1600px */
@media screen and (max-width:100em) {
/* GAME PAGE */
    /* respace hit and stand buttons */
    .game-controls-container {
        width: 80%;
    }
}

/* 1200px */
@media screen and (max-width:75em) {
/* GAME PAGE */
    /* respace hit and stand buttons */
    .game-controls-container {
        width: 100%;
    }        
}

/* 992px */
@media screen and (max-width:62em) {
/* GAME PAGE */
    /* respace hit and stand buttons */
    .game-controls-container {
        justify-content: space-between;
        width: 80%;
    }
    
    /* Remove card margins */
    #dealers-cards img, #players-cards img {
        margin: 0;
    }

    /* resize card borders */
    #dealers-cards img, #players-cards img {
        border: solid black 0.1rem;
    } 

    /* Overlap the cards */
    #dealers-cards img:nth-child(n+1), #players-cards img:nth-child(n+1) {
        margin-right: -3.5rem;
    }

    /* shift hand to compensate for overlap */
    #dealers-cards, #players-cards {
        margin-right: 3.5rem;
    }
}

/* 700px */
@media screen and (max-width:43.75em) {
/* GAME PAGE */
    /* respace hit and stand buttons */
    .game-controls-container {
        width: 90%;
        margin-bottom: 0.5rem;
    }
}

/* 600px */
@media screen and (max-width:37.5em) {
/* GAME PAGE */
    /* Centre header content */
    header {
        flex-direction: column;
    }

    /* Adjust game rules */
    #game-rules {
        margin: 0 0 0.5rem 2rem;
        text-decoration: none;
    }

    /* shift header content left to compensate for space between game rules and speaker icon */
    .header-content {
        margin-right: 3rem;
    }

   
    /* resize card images */
    #dealers-cards img, #players-cards img {
        width: 7.813rem;
        height: 11.375rem;
        border: solid black 0.1rem;
    } 

    /* Adjust the card overlap */
    #dealers-cards img:nth-child(n+1), #players-cards img:nth-child(n+1) {
        margin-right: -3.9rem;
    }

    /* shift hand to compensate for overlap */
    #dealers-cards, #players-cards {
        margin-right: 3.9rem;
    }

    /* Add some space below logo */
    .logo {
        margin-bottom: 1rem;
    }

    /* Underline logo text*/
    .logo-content h1{
        text-decoration: underline;
    } 

    /* Resize hit and stand buttons */
    .game-controls-container button {
        width: 8rem ;
        height: 4rem;
    }
}

/* 400px */
@media screen and (max-width:25em) {
/* GAME PAGE */
    /* Remove the logo image */
    .logo-image img {
        display: none;  
    }

    /* Resize logo text size */
    .logo-content h1{
        font-size: 1.8rem;
    } 

    /* Adjust betting input */
    .betting-input {
        flex-direction: column;
        align-items: center;
    }

/* GAME PAGE - WITH PLAY AGAIN DISPLAYED */
    /* resize the play again button */
    #play-again-button {
        width:18rem;
    }  
}

/********************* MEDIA QUERIES - HEIGHT *******************/
/* 890 px */
@media screen and (max-height:55.625em) {
/* GAME PAGE */
    /* Resize controls container */
    .game-controls-container {
        height: 3rem;
    }

    /* Resize hit and stand buttons */
    .game-controls-container button {
        width: 8rem ;
        height: 3rem;
    }

    /* Resize chip count margins */
    .player-chip-count  {
        margin: 0;
    }
}

/* 825 px */
@media screen and (max-height:51.563em) {
/* GAME PAGE */
    /* Remove header padding */
    header {
        padding: 0;
    }

    /* Resize logo image and content */
    .logo-image img {
        width: 1.97rem;
        height: 2rem;
    }

    .logo-content h1 {
        font-size: 1.4rem;
    }

    /* Resize dealer & Player info */
    .dealer-info h2 , .player-info h2 {
        font-size: 1.4rem;
    }

    .hand-value {
        font-size: 1.4rem;
    }
}

/* 755 px */
@media screen and (max-height:47.188em) {
/* GAME PAGE */
    /* remove margins from betting input */
    .betting-input {
        margin-bottom: 0.5rem;
    }

    /* resize card images */
    #dealers-cards img, #players-cards img {
        width: 6.25rem;
        height: 9.063rem;
    }  
}

/* 685 px */
@media screen and (max-height:42.813em) {
/* GAME PAGE */
    /* Resize controls container */
    .game-controls-container {
        height: 1.9rem;
        margin-bottom: 0.25rem;
    }
    
    /* Resize hit and stand buttons */
    .game-controls-container button {
        width: 8rem ;
        height: 1.9rem;
        font-size: 1.2rem;
    }

    /* resize player chip count */
    .player-chip-count p {
        font-size: 1.2rem;
    }

    .player-chip-count {
        text-decoration-thickness: 0rem;
        text-underline-offset: 0.1rem;  
    }
    
    /* resize betting section amount*/
    .betting-container {
        margin-top: 0.25rem;
    }
     
    .betting-input {
        margin-bottom: 0.25rem;
    }
    
    .betting-input p {
        margin-right: 1rem;
        font-size: 1.1rem;
    }

    .betting-input input {
        font-size: 0.8rem;
        font-weight: 500;
    }

    /* resize place bet button */
    #place-bet-button {
        width: 8rem ;
        height: 1.9rem;
        font-size: 1.2rem;
    }

/* GAME PAGE - WITH PLAY AGAIN DISPLAYED */
    /* resize the play again button */
    #play-again-button {
        width:14rem;
        height: 5.5rem;
    }  
}

/* 602 px */
@media screen and (max-height:37.625em) {
/* GAME PAGE */
    /* resize card images */
    #dealers-cards img, #players-cards img {
        width: 4.688rem;
        height: 6.813rem;
    } 
}

/* 530 px */
@media screen and (max-height:33.125em) {
    /* GAME PAGE */
    /* Reduce some margins */
    .dealer-container, .player-container {
        margin-bottom: 0.25rem;
    }    

    .logo {
        margin-bottom: 0.25rem;
    }

    #game-rules {
        margin: 0 0 0.25rem 2rem;
    }
    /* shift header content left to compensate for space between game rules and speaker icon */
    .header-content {
        margin-right: 3rem;
    }

    /* Resize dealer & Player info */
    .dealer-info h2 , .player-info h2 {
        font-size: 1.1rem;
    }

    /* Resize hand value */
    .hand-value {
        font-size: 1.1rem;
    }

    /* Resize cards icon in dealer info section */
    .cards-image img {
        width: 0.906rem;
        height: 0.938rem;
    }
}

/* 472 px */
@media screen and (max-height:29.5em) { 
/* GAME PAGE & 404 PAGE*/
    /* Background image scales to smaller screen heights */
    .game-page-wrapper, .page-wrapper{
        height: 100%;   /*ensures full vertical coverage on zoom in */
    }
}
