/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:wght@400;500;600;700;800;900&display=swap');

/*********************** GLOBAL  ****************************/
html {
    max-width: 162.5rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: white;
}

/* Headings */
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 700;
}

/* Paragraphs */
p {
    font-size: 1.4rem;
}

/* Links */
a {
    text-decoration: none;
}

/************************* GAME PAGE ***********************/
.game-page-wrapper{
    max-width: 162.5rem;
    height: 100vh;
    background:url(../images/background.webp) no-repeat center top;
    background-size: cover;
    background-color: #01441b; /*added incase image fails to load*/
}

/*************************** HEADER *************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-image {
    margin-right: 0.5rem;   
}

.logo-image img {
    width: 3.94rem;
    height: 4rem;
}

.logo-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

/* Game rules pop up */
header p {
    margin-right: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}
