/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Raleway:wght@400;500;600;700;800;900&display=swap');

/*********************** GLOBAL  ****************************/
html {
    max-width: 162.5rem;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    color: white;
}

/* Headings */
h1, h2, h3 {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 700;
}

h2 {
     font-size: 1.8rem; 
}

/* Paragraphs */
p {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Links */
a {
    text-decoration: none;
}

/* Buttons */
button {
    width: 13rem ;
    height: 3rem;
    border-radius: 1.5rem/1.5rem;
    color: white;
    background-color: #FF8205;
    font: 700 1.5rem Raleway, sans-serif;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: 0.2rem solid black;
}

button:hover {
    color: white;
    background-color: #01441b;
    border: 0.2rem solid white;
}

/************************* GAME PAGE ***********************/
.game-page-wrapper{
    max-width: 162.5rem;
    height: 100vh;
    background:url(../images/background.webp) no-repeat center top;
    background-size: cover;
    background-color: #01441b; /*added incase image fails to load*/
}

/*************************** HEADER *************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    margin-right: 0.5rem;   
}

.logo-image img {
    width: 2.95rem;
    height: 3rem;
}

.logo-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
} 

/* Game rules pop up */
header p {
    margin-right: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

/*********************** GAME CONTAINER *********************/
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/****************** DEALER & PLAYER SECTIONS ****************/
/* Dealer info */
.dealer-container, .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.dealer-info, .player-info{
    display: flex;
    align-items: center;
}

/* cards icon in dealer info section */
.cards-image img {
    width: 1.97rem;
    height: 2rem;
    margin-right: 0.25rem;
}

/* holds dealer & players current count */
.hand-count {
    font-size: 2.5rem;
}

/******************* GAME CONTROLS SECTION *****************/
.game-controls-container {
    width: 40%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-controls-container button {
    width: 10rem ;
    height: 5rem;
    border-radius: 1.5rem/1.5rem;
}

/* .game-controls-container div{ */
.results-message {
    height: 100%;
    width: 18.75rem;
}

/********************** BETTING SECTION ********************/
.betting-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-chip-count  {
    margin: 1rem 0 1rem 0;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.3rem;
}

.betting-input {
    display: flex;
    margin-bottom: 1rem;
}

.betting-input p {
    margin-right: 1rem;
}
.betting-input input {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
